@model MvcCV.Models.Entity.TblEgitimlerim
@{
    ViewBag.Title = "EgitimDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Yeni Eğitim Bilgisi Düzenleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Baslik, "", new { @style = "Color:red" })
    <br />
    @Html.Label("Alt Başlık-1")
    @Html.TextBoxFor(x => x.AltBaslik1, new { @class = "form-control" })
    <br />
    @Html.Label("Alt Başlık-2")
    @Html.TextBoxFor(x => x.AltBaslik2, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.Label("GNO")
    @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.GNO, "", new { @style = "Color:blue" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>