@using MvcCV.Models.Entity
@model  List<TblHakkimda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h2>Profil Düzenleme Sayfası</h2>
<br />
<form method="post">
    @foreach (var x in Model)
    {
        <label>Ad </label>
        <input type="text" name="Ad" value="@x.Ad" class="form-control" />
        <br />
        <label>Soyad </label>
        <input type="text" name="Soyad" value="@x.Soyad" class="form-control" />
        <br />
        <label>Adres </label>
        <input type="text" name="Adres" value="@x.Adres" class="form-control" />
        <br />
        <label>Telefon </label>
        <input type="text" name="Telefon" value="@x.Telefon" class="form-control" />
        <br />
        <label>Mail Adresi </label>
        <input type="text" name="Mail" value="@x.Mail" class="form-control" />
        <br />
        <label>Resim </label>
        <input type="text" name="Resim" value="@x.Resim" class="form-control" />
        <br />
        <label>Açıklama </label>
        <textarea role="5" class="form-control" name="Aciklama">@x.Aciklama</textarea>
    }
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>